[user]
  email = daniel.gibbs@gmail.com
  name = Dan Gibbs
[pull]
  rebase = false
[diff]
  tool = meld
[global]

[alias]
    logcsv = "!git log --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%cd|%h|%an|%s' -200 | while IFS='|' read commit_date hash author message; do printf '%s;%s;%s;%s\n' \"$commit_date\" \"$hash\" \"$author\" \"$message\"; done"
[init]
  defaultBranch = master
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  editor = vim
